name: Helm Publish

on:
  push:
    branches: ['main']
    paths-ignore:
      - '.github/**'
      - '.git*'
      - 'README.md'
  workflow_dispatch:

jobs:
  helm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.12.3

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io \
            --username ${{ github.actor }} \
            --password-stdin

      - name: Push all packaged Helm charts to GHCR
        run: |
          shopt -s nullglob
          for chart in charts/*.tgz; do
            echo "Pushing $chart"
            helm push "$chart" oci://ghcr.io/${{ github.repository }}
          done
